<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books I've Read</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <div class="content">
      <h1>My Books</h1>
      <p>
        A list of books I have read in an alternate universe where I read books
        instead of code.
      </p>
      
      <div class="list">
        <!-- Sort & Order Options -->
        <form id="sortForm" class="sort-form" action="/" method="get">
          <div>
            <label for="sort">Sort By</label>
            <select name="sort" id="sort">
              <option value="title" <%= sort === "title" ? "selected" : "" %>>A-Z</option>
              <option value="date_read" <%= sort === "date_read" ? "selected" : "" %>>Date Read</option>
              <option value="rating" <%= sort === "rating" ? "selected" : "" %>>Rating</option>
            </select>
          </div>
          
          <div>
            <label for="order">Order By</label>
            <select name="order" id="order">
              <option value="ASC" <%= order === "ASC" ? "selected" : "" %> >Ascending</option>
              <option value="DESC" <%= order === "DESC" ? "selected" : "" %>>Descending</option>
            </select>
          </div>
        </form>

        <% for(item of listItems) { %>
          <!-- Card -->
          <div class="card" data-action="card-hover">
            <div class="cover">
              <img src=<%= item.cover %> alt="book cover">
            </div>

            <div class="details">
              <p class="title"><%= item.title %></p>
              <p class="author">By <%= item.author %></p>
              <p class="date">Date read: <%= item.date_read.toISOString().split('T')[0]; %></p>
              <p class="rating">Rating: <%= item.rating %>/5</p>
              <p class="review"><%= item.review %></p>
            </div>

            <!-- Edit Icon -->
            <button data-action="open-modal" data-modal="#editModal-<%= item.id %>">
              <svg class="editIcon hidden" fill="#000" viewBox="0 0 256 256">
                <path d="M227.32,73.37,182.63,28.69a16,16,0,0,0-22.63,0L36.69,152A15.86,15.86,0,0,0,32,163.31V208a16,16,0,0,0,16,16H216a8,8,0,0,0,0-16H115.32l112-112A16,16,0,0,0,227.32,73.37ZM92.69,208H48V163.31l88-88L180.69,120ZM192,108.69,147.32,64l24-24L216,84.69Z" />
              </svg>
            </button>
              
            <!-- Delete Icon -->
            <form action="/delete" method="post">
              <button type="submit" name="targetId" value=<%= item.id %>>
                <svg class="delIcon hidden" fill="#000" viewBox="0 0 256 256">
                  <path d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z" />
                </svg>
              </button>
            </form>

            <!-- Edit Modal -->
            <%- include('partials/modal.ejs', { 
              id: `editModal-${item.id}`,
              action: "/edit", 
              item: item, 
              submitText: "Done" 
            }); -%>
          </div>
        <% } %>
      </div>
    </div>
    
    <!-- Add Button (Open Modal) -->
    <button class="open-button" data-action="open-modal" data-modal="#addModal">
      <svg width="32" height="32" fill="#fff" viewBox="0 0 256 256">
        <path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" />
      </svg>
    </button>

    <!-- Add Modal -->
    <%- include('partials/modal.ejs', { 
      id: "addModal",
      action: "/add", 
      item: null,
      submitText: "Add" 
    }); -%>
    <script src="/js/client.js"></script>
  </body>
</html>
