<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books I've Read</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <div class="content">
      <h1>My Books</h1>
      <p>
        A list of books I have read in an alternate universe where I read books
        instead of code.
      </p>
      
      <div class="list">
        <!-- Sort & Order Options -->
        <form id="sortForm" class="sort-form" action="/" method="get">
          <div>
            <label for="sort">Sort By</label>
            <select name="sort" id="sort">
              <option value="title" <%= sort === "title" ? "selected" : "" %>>A-Z</option>
              <option value="date_read" <%= sort === "date_read" ? "selected" : "" %>>Date Read</option>
              <option value="rating" <%= sort === "rating" ? "selected" : "" %>>Rating</option>
            </select>
          </div>
          
          <div>
            <label for="order">Order By</label>
            <select name="order" id="order">
              <option value="ASC" <%= order === "ASC" ? "selected" : "" %> >Ascending</option>
              <option value="DESC" <%= order === "DESC" ? "selected" : "" %>>Descending</option>
            </select>
          </div>
        </form>

        <% for(item of listItems) { %>
          <!-- Card -->
           <%- include("partials/card.ejs", { item: item }) -%>
        <% } %>
      </div>
    </div>
    
    <!-- Add Button (Open Modal) -->
    <button class="open-button" data-action="open-modal" data-modal="#addModal">
      <svg width="32" height="32" fill="#fff" viewBox="0 0 256 256">
        <path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" />
      </svg>
    </button>

    <!-- Edit Modal -->
    <%- include('partials/modal.ejs', { 
      id: "editModal",
      action: "/edit", 
      item: null,
      submitText: "Done" 
    }); -%>

    <!-- Add Modal -->
    <%- include('partials/modal.ejs', { 
      id: "addModal",
      action: "/add", 
      item: null,
      submitText: "Add" 
    }); -%>
    <script src="/js/client.js"></script>
  </body>
</html>
